header{
  background-color:darkred;
}
body {
        width: 100vw;
        height: 100vh;
}
footer{
    background-color:darkred;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0px;
}
h2 {
  text-align: center;
}
.next2 {
  left:400px;
  position: relative;
}
#BACK {
  color: white;
  background-color: saddlebrown;
}
.next1 {
  left:500px;
  position: relative;
}
#NEXT {
  color: white;
  background-color: darkred;
}
.column{
  float: left;
  column-gap: 40px;
  left:500px;
}
p{
  color: white;
}
.hed1{
  color: white;
}
.navbar {
color: white;
float: right;
right: 150px;
top: 25px;

}
.logo {
  width: 150px;
  height: 100px;
}
ul li{
  display: inline-block;
  text-decoration: underline;
  margin-right: 50px;
}
body {
  background-color: black;
}
#sp1 {
  color: olive;
}
#sp2 {
  color: royalblue;
}
#sp3 {
  color: orangered;
}
#sp4 {
  color: aqua;
}
.jumbotron {
  background-color: indigo;
  color: white;
}
.container{
  color: white;
}
.sec1 {
  background-image: url("../images/images.jpeg");
  opacity: 0.6;
}
.sec2{
background-image: url("../images/photo-1459749411175-04bf5292ceea.jpeg");
/*background-color: black;*/
}
